footer {
  padding: 2rem 10%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100%;

  .social-media {
    @include flex(row nowrap, center, center);

    .social-media-link-container {
      border: 1px solid lighten($paleBlue, 8%);
      border-radius: 50%;
      cursor: pointer;
      margin-right: 1rem;
      height: 30px;
      transition: all 0.2s;
      width: 30px;
      @include flex(row, center, center);

      &:hover {
        background-color: $blue;

        i {
          color: $white;
        }
      }

      &:last-child {
        margin-right: 0;
      }

      .social-media-link {
        font-size: 0.8rem;
        transition: all 0.2s;
      }
    }
  }

  .copy {
    font-size: 0.7rem;
    padding-top: 1.5rem;
    text-align: center;
  }
}
